In [1]:
import pandas as pd

In [2]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', -1)

In [3]:
#Below cells order, and then merge data from a cdip station

In [4]:
dfwt=pd.read_csv('/ipanwatertmp.csv',sep='\s+')
dfwavedir=pd.read_csv('/ipanwavedir.csv',sep='\s+')
dfwaveheight=pd.read_csv('/ipanwaveheight.csv',sep='\s+')
dfwaveperiod=pd.read_csv('/ipanwaveperiod.csv',sep='\s+')

In [5]:
dfwt["Date"]=dfwt["Month"]+" "+dfwt["Day"]+" "+dfwt["Hour"]

In [6]:
dfwt=dfwt[["Date","SST"]].copy()

In [7]:
dfwt['Dateasdt'] =pd.to_datetime(dfwt.Date, format='%b %d, %H:%M')
dfwt.sort_values(by=['Dateasdt'], inplace=True)
dfwt=dfwt[["Date","SST"]].reset_index(drop=True).drop_duplicates().copy()

In [8]:
dfwt

               Date   SST
0     Jul 31, 23:30  85.5
1     Aug 01, 00:00  85.5
2     Aug 01, 00:30  85.6
3     Aug 01, 01:00  85.6
4     Aug 01, 01:30  85.6
...             ...   ...
2050  Sep 11, 21:00  86.9
2051  Sep 11, 21:30  86.9
2052  Sep 11, 22:00  86.9
2053  Sep 11, 22:30  86.9
2054  Sep 11, 23:00  86.9

[2011 rows x 2 columns]

In [9]:
duplicateRowsDF = dfwt[dfwt.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [Date, SST]
Index: []

In [10]:
dfwavedir["Date"]=dfwavedir["Month"]+" "+dfwavedir["Day"]+" "+dfwavedir["Hour"]

In [11]:
dfwavedir=dfwavedir[["Date","DP"]].copy()

In [12]:
dfwavedir['Dateasdt'] =pd.to_datetime(dfwavedir.Date, format='%b %d, %H:%M')
dfwavedir.sort_values(by=['Dateasdt'], inplace=True)
dfwavedir=dfwavedir[["Date","DP"]].reset_index(drop=True).copy()

In [13]:
dfwavedir

               Date   DP
0     Jul 31, 23:30   87
1     Aug 01, 00:00   94
2     Aug 01, 00:30   98
3     Aug 01, 01:00   90
4     Aug 01, 01:30   83
...             ...  ...
2004  Sep 11, 21:00   96
2005  Sep 11, 21:30  113
2006  Sep 11, 22:00   93
2007  Sep 11, 22:30   98
2008  Sep 11, 23:00   84

[2009 rows x 2 columns]

In [14]:
duplicateRowsDF = dfwavedir[dfwavedir.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [Date, DP]
Index: []

In [15]:
dfwaveheight["Date"]=dfwaveheight["Month"]+" "+dfwaveheight["Day"]+" "+dfwaveheight["Hour"]

In [16]:
dfwaveheight=dfwaveheight[["Date","HS"]].copy()

In [17]:
dfwaveheight['Dateasdt'] =pd.to_datetime(dfwaveheight.Date, format='%b %d, %H:%M')
dfwaveheight.sort_values(by=['Dateasdt'], inplace=True)
dfwaveheight=dfwaveheight[["Date","HS"]].reset_index(drop=True).copy()

In [18]:
dfwaveheight

               Date    HS
0     Jul 31, 23:30  4.17
1     Aug 01, 00:00  4.07
2     Aug 01, 00:30  4.07
3     Aug 01, 01:00  4.33
4     Aug 01, 01:30  4.20
...             ...   ...
2004  Sep 11, 21:00  3.02
2005  Sep 11, 21:30  2.92
2006  Sep 11, 22:00  2.79
2007  Sep 11, 22:30  2.69
2008  Sep 11, 23:00  2.95

[2009 rows x 2 columns]

In [19]:
duplicateRowsDF = dfwaveheight[dfwaveheight.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [Date, HS]
Index: []

In [20]:
dfwaveperiod["Date"]=dfwaveperiod["Month"]+" "+dfwaveperiod["Day"]+" "+dfwaveperiod["Hour"]

In [21]:
dfwaveperiod=dfwaveperiod[["Date","TP","TA"]].copy()

In [22]:
dfwaveperiod['Dateasdt'] =pd.to_datetime(dfwaveperiod.Date, format='%b %d, %H:%M')
dfwaveperiod.sort_values(by=['Dateasdt'], inplace=True)
dfwaveperiod=dfwaveperiod[["Date","TP","TA"]].reset_index(drop=True).copy()

In [23]:
dfwaveperiod

               Date     TP    TA
0     Jul 31, 23:30   9.09  5.43
1     Aug 01, 00:00   7.14  5.52
2     Aug 01, 00:30   6.67  5.59
3     Aug 01, 01:00   6.67  5.39
4     Aug 01, 01:30   9.09  5.41
...             ...    ...   ...
2004  Sep 11, 21:00  10.53  6.80
2005  Sep 11, 21:30   9.88  6.79
2006  Sep 11, 22:00  10.53  6.37
2007  Sep 11, 22:30  11.76  6.34
2008  Sep 11, 23:00  10.53  6.39

[2009 rows x 3 columns]

In [24]:
duplicateRowsDF = dfwaveperiod[dfwaveperiod.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [Date, TP, TA]
Index: []

In [25]:
result = pd.merge(dfwt, dfwavedir, on='Date')

In [26]:
result = pd.merge(result, dfwaveheight, on='Date')

In [27]:
result = pd.merge(result, dfwaveperiod, on='Date')

In [28]:
result = result.dropna()

In [29]:
result

               Date   SST   DP    HS     TP    TA
0     Jul 31, 23:30  85.5   87  4.17   9.09  5.43
1     Aug 01, 00:00  85.5   94  4.07   7.14  5.52
2     Aug 01, 00:30  85.6   98  4.07   6.67  5.59
3     Aug 01, 01:00  85.6   90  4.33   6.67  5.39
4     Aug 01, 01:30  85.6   83  4.20   9.09  5.41
...             ...   ...  ...   ...    ...   ...
2005  Sep 11, 21:00  86.9   96  3.02  10.53  6.80
2006  Sep 11, 21:30  86.9  113  2.92   9.88  6.79
2007  Sep 11, 22:00  86.9   93  2.79  10.53  6.37
2008  Sep 11, 22:30  86.9   98  2.69  11.76  6.34
2009  Sep 11, 23:00  86.9   84  2.95  10.53  6.39

[2006 rows x 6 columns]

In [30]:
result.to_csv("/cdipipan.csv",index=None,header=False)